{% extends 'admins/base.html' %}

{% block content %}
            <div class="container-fluid">
                <h1 class="mt-4">{{title}}</h1>
                <form action="{% url 'admins:product_update' pk %}" method="post">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ update_form.name.id_for_label }}">Наименование</label>
                                {{ update_form.name }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ update_form.category.id_for_label }}">категория</label>
                                {{ update_form.category }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ update_form.description.id_for_label }}">Описание</label>
                                {{ update_form.description }}
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ update_form.price.id_for_label }}">Цена</label>
                                {{ update_form.price }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ update_form.quantity.id_for_label }}">Количество</label>
                                {{ update_form.quantity }}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="custom-file">
                                {{ update_form.image }}
                                <label class="custom-file-label" for="{{ update_form.image.id_for_label }}">Выберите изображение</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-6" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
{% endblock %}